@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}


@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;

    background-color: #FFFFFF;
    color: #000000;
}

.button {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.navigation-link {
    color: #000000;
    text-decoration: none;
}

.navigation-page .navigation-link {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.2em;
}

.main-title {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.plain-text {
    color: #444444;
}

.slider-details-bold {
    font-size: 36px;
}

.slider-details-light {
    font-size: 16px;
    color: #444444;
}

.categories-link {
    text-decoration: none;
    color: #000000;
}

.categories-link h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
}

.proposals-info {
    font-family: Raleway;
    font-weight: 800;
    font-size: 20px;
 
    line-height: 23px;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000; 
}

.about-list span {
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;

}

.contacts-subtitle {
    color: #444444;
    font-size: 24px;
}

.contacts-address, .contacts-phone {
    font-style: normal;
    font-size: 16px;
}

.main-footer,
.main-footer a {
    color: #FFFFFF;
    background-color: #444444;;
}

.breadcrumbs-link {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
}

.catalog-products-label {
    font-family: Raleway;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.catalog-products {
    background: #F0F0F0;
    display: flex;
}

.product-card-link {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.product-card-price {
    color: #444444;
    line-height: 21px;
    font-weight: 400;
}

.button-more {
    font-size: 16px;
    line-height: 19px;
}

.pagination-link {
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    opacity: 0.3;
    color: #444444;
}

.catalog-filter label {
    font-size: 16px;
    line-height: 19px;
}

.catalog-filter-title {
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.main-header {
    background: #FFE17F;
    width: 1160px;
    margin: 0 auto;

}

.select-control option {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.pagination-next,
.pagination-prev {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    color: black;
    opacity: 1;
    text-transform: uppercase;
}

.main-container {
    flex-grow: 1;
    width: 1160px;
    margin: 0 auto;
}

.main-header .navigation {
    width: 1040px;
    margin: 0 auto;
}

.navigation-list {
    margin: 0;
    padding: 0;
}
.user-navigation-wrapper {
    display: flex;
    justify-content: space-between;
}

.navigation-page {
    display: flex;
}

.main-search {
    width: 517px;
}

.navigation-cart {
    width: 240px;
}

.navigation-page li:first-child {
    width: 293px;
    margin-right: auto;
}


.visually-hidden {
    display: none;
}

.slider {
    width: 1160px;
    margin: 0 auto;
}

.slider-item {
    display: flex;
}

.slider-image-wrapper {
    width: 560px;
    margin-right: 40px;
}



.categories-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.proposals-wrapper {
    display: flex;
}

.proposals-info-wrapper {
    text-align: center;
}

.about-contacts-wrapper {
    display: flex;
    justify-content: space-between;
}

.about-contacts-wrapper .about {
    width: 520px;
}
.about-contacts-wrapper .contacts {
    width: 532px;
}

.email-wrapper {
    display: flex;
    justify-content: space-between;

}

.email-title {
    width: 360px;
}

.email-text {
    width: 560px;
}



.footer-container {
    display: flex;
    width: 1160px;
    margin: 0 auto;
}


.footer-container .contacts {
    width: 240px;
    margin-right: 111px;
}

.footer-inner-right {
    max-width: 175px;
    margin-left: auto;
}

.catalog-filter-container {
    width: 320px;
}

.catalog-product-container {
    width: 840px;
}