@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}


@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;

    background-color: #FFFFFF;
    color: #000000;
}

.button {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 00.2em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.navigation-link {
    color: #000000;
    text-decoration: none;
}

.navigation-page .navigation-link {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.2em;
}

.main-title {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.plain-text {
    color: #444444;
}

.slider-details-bold {
    font-size: 36px;
}

.slider-details-light {
    font-size: 16px;
    color: #444444;
}

.categories-link {
    text-decoration: none;
    color: #000000;

    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
}

.proposals-info {
    font-family: Raleway;
    font-weight: 800;
    font-size: 20px;
 
    line-height: 23px;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000; 
}

.about-list span {
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.contacts-subtitle {
    color: #444444;
    font-size: 24px;
}

.contacts-address {
    font-style: normal;
}

.main-footer,
.main-footer a {
    color: #FFFFFF;
    background-color: #444444;;
}

