@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}


@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;

    background-color: #FFFFFF;
    color: #000000;
}

.button {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.navigation-link {
    color: #000000;
    text-decoration: none;
}

.navigation-page .navigation-link {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.2em;

    display: block;
}


.main-title {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.plain-text {
    color: #444444;
}

.slider-details-bold {
    font-size: 36px;
}

.slider-details-light {
    font-size: 16px;
    color: #444444;
}

.categories-link {
    text-decoration: none;
    color: #000000;
    width: 160px;
    display: block;
}

.categories-link h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    margin: 0;
}

.categories-link::before {
    display: block;
    height: 160px;
    content: '';
    background-color: #FFE17F;
    background-repeat: no-repeat;
    background-size: 160px 160px;
    margin-bottom: 32px;
}

.proposals-info {
    font-family: Raleway;
    font-weight: 800;
    font-size: 20px;
 
    line-height: 23px;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000; 
}

.about-list span {
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;

}

.contacts-subtitle {
    color: #444444;
    font-size: 24px;
}

.contacts-address, .contacts-phone {
    font-style: normal;
    font-size: 16px;
}

.main-footer,
.main-footer a {
    color: #FFFFFF;
    background-color: #444444;;
}

.breadcrumbs-link {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
}

.breadcrumbs-item {
    margin-right: 36px;
}


.catalog-products-label {
    font-family: Raleway;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.catalog-products {
    background: #F0F0F0;
}

.catalog-products-wrapper {
    display: flex;
    width: 1160px;
    margin: 0 auto;
}

.product-card-link {
    text-decoration: none;
}
.product-card-link h3 {
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.product-card-price {
    color: #444444;
    line-height: 21px;
    font-weight: 400;
}

.button-more {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 44px;
}

.pagination-link {
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    opacity: 0.3;
    color: #444444;
}

.catalog-filter label {
    font-size: 16px;
    line-height: 19px;
}

.catalog-filter-title {
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.main-header {
    background: #FFE17F;
    width: 1160px;
    margin: 0 auto;

}

.select-control option {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.pagination-next,
.pagination-prev {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    color: black;
    opacity: 1;
    text-transform: uppercase;

    display: block;
    padding: 25px;
}

.main-container {
    flex-grow: 1;
    /* width: 1160px;
    margin: 0 auto; */
}

.main-header .navigation {
    width: 1040px;
    margin: 0 auto;
    padding-bottom: 152px;
}



.navigation-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
.user-navigation-wrapper {
    display: flex;
    margin-bottom: 30px;
}



.navigation-user {
    min-width: 230px;
    justify-content: space-between;
}

.main-search {
    width: 517px;
    margin-right: 26px;

}

.navigation-cart {
    width: 240px;
    margin-left: auto;
    justify-content: space-between;

}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.slider {
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.slider-item {
    display: flex;
}

.slider-image-wrapper {
    width: 560px;
    margin-right: 40px;
}

.categories {
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.categories-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    flex-wrap: wrap;
}

.proposals-wrapper {
    display: flex;
    margin-bottom: 70px;
}

.proposals-info-wrapper {
    text-align: center;
}

.about-contacts-wrapper {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.about-contacts-wrapper .about {
    width: 520px;
}
.about-contacts-wrapper .contacts {
    width: 532px;
}

.email-wrapper {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.email-title {
    width: 360px;
}

.email-text {
    width: 560px;
}



.footer-container {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    padding-top: 62px;
}


.footer-container .contacts {

    width: 240px;
    margin-right: 111px;
}

.footer-inner-right {
    max-width: 175px;
    margin-left: auto;
    margin-top: 78px;
}

.catalog-filter-container {
    width: 320px;
}

.catalog-product-container {
    width: 840px;
}

.proposals {
    background-color: #F0F0F0;
}

.email {
    background-color: #F0F0F0;
}
.wrapper {
    width: 1160px;
    margin: 0 auto;
}


.footer-inner-middle {
    width: 444px;
    margin-top: 75px;
}

.footer-inner-middle .navigation-list {
    justify-content: space-between;
    margin-bottom: 62px;

}


.social-list {
    width: 150px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 61px;
}



.inner-header-title {
    margin: 0;
    margin-top: 35px;
    margin-bottom: 16px;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
}


.pagination {
    list-style-type: none;
    display: flex;
}

.pagination-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #EBEBEB;
}

.pagination .pagination-link {
    display: block;
    box-sizing: border-box;
    min-width: 40px;
    min-height: 40px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


header .navigation-page li:nth-child(2) {
    margin-left: auto;
}

header .navigation-page li:not(:last-child) {
    margin-right: 45px;
}



.product-list-container {
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;

    padding-left: 40px;
    padding-right: 40px;
    padding-top: 70px;
    padding-bottom: 78px;

}

.product-list {
    list-style-type: none;
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 360px 360px;
    column-gap: 40px;
    row-gap: 44px;

    margin-bottom: 44px;
    
}

.product-title-wrapper h3 {
    margin: 0;
    max-width: 226px;
}
.product-title-wrapper {
    display: flex;
    justify-content: space-between;
}

.product-card-image {
    margin-bottom: 32px;

    object-fit: contain;
}

.navigation-logo {
     position: relative;
     top: -22px;
}

body {
    padding-top: 40px;
}

.nav-user-icon {
    padding-left: 27px;
    background-image: url('/images/user-icon.svg');
    background-size: 15px 12px;
    background-position: left center;
    background-repeat: no-repeat;
}

.nav-compare-icon {
    padding-left: 22px;
    background-image: url("/images/compare-icon.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 10px 12px;
}

.nav-cart-icon {
    position: relative;
    padding-left: 43px;
    background-image: url("/images/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 18px center;
    background-size: 13px 21px;
}

.nav-cart-icon::before {
    background-color: #FFFFFF;
    content: '2';
    width: 21px;
    height: 21px;
    line-height: 21px;
    font-size: 14px;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    left: 0;
    top: 0;
    bottom: 0;
    
}

a.social-button {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.3;
}

.categories-link.category-vr::before {
    background-image: url('/images/category-vr.svg');
}

.categories-link.category-selfie::before {
    background-image: url('/images/category-selfie.svg');
}

.categories-link.category-camera::before {
    background-image: url('/images/category-camera.svg');
}

.categories-link.category-fitness::before {
    background-image: url('/images/category-fitness.svg');
}

.categories-link.category-watch::before {
    background-image: url('/images/category-watch.svg');
}

.categories-link.category-quadrocopter::before {
    background-image: url('/images/category-quadrocopter.svg');
}

.button-fb {
    background-image: url("/images/fb-icon.svg");
}

.button-ig {
    background-image: url("/images/ig-icon.svg");
}

.button-tw {
    background-image: url("/images/tw-icon.svg");
}


section.about > *:not(:last-child),
section.contacts > *:not(:last-child) {
    margin: 0;
    margin-bottom: 30px;
}



section.about .main-title,
section.contacts .main-title {
    margin: 0;
    margin-bottom: 48px;
}